
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba);">
    <div class="container">
      <h1>Movie Watch List!</h1>
    </div>
  </div>
<%= cl_image_tag("sample", width: 400, height: 300, crop: :fill) %>

  <div class="container">
    <h2>Lists</h2>
  <% @lists.each do |list| %>
  <p><%= link_to list.name, list_path(list), class: 'text-decoration-none text-light'%></p>
  <%end  %>

    <div class="btn btn-secondary">
    <%= link_to 'Make a new list', new_list_path, class: 'text-decoration-none text-light' %>
  </div>
